<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="ftpAO" class="fr.cristalunion.ftp.FtpAO"  >
		<property name="username" value="pdfAgro"/>
		<property name="password" value="ff.agr1"/>
	</bean>	
</beans>