[$TO_NAME$],<br /><br />

L'évènement <a href="[$EVENT_URL$]">[$EVENT_TITLE$]</a> a été modifié. Il aura lieu le <strong>[$EVENT_START_DATE$]</strong>.<br /><br />

Cordialement,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]