Bonjour [$TO_NAME$],<br /><br />

L'évènement <a href="[$EVENT_URL$]">[$EVENT_TITLE$]</a> a été modifié. Il aura lieu le <strong>[$EVENT_START_DATE$]</strong> à [$EVENT_LOCATION$].<br /><br />

Cordialement,<br /><br/>
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]