Bonjour [$TO_NAME$],<br /><br />

Vous êtes invité(e) à l'évènement <a href="[$EVENT_URL$]">[$EVENT_TITLE$]</a> qui aura lieu le <strong>[$EVENT_START_DATE$]</strong> à [$EVENT_LOCATION$].<br /><br />

Cordialement,<br /><br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]